<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
</head>
<body>
    <div class="bg-success text-white pt-2 pb-2">
        <h1 class="container">Atividades complementares</h1>
    </div>
    {% block conteudo %}
    {% endblock %}
</body>
</html>
